<footer class="full-width-section">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook s-icon"></i>
           <i class="fa-brands fa-square-instagram s-icon" id="insta"></i>
            <i class="fa-brands fa-linkedin s-icon"></i>
        </div>
    <div class="f-info-brand">&copy; JanManch.Pvt.Ltd</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms & Conditions</a>
    </div></div>
</footer>