<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PyScript Demo</title>
  <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
  <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
    <div id="out"> </div>
  <h2>PyScript Output:</h2>
  <py-script output="out">
print("hello")
  </py-script>
</body>
</html>